<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{page_title}} - GoodHoots{% endblock %}</title>
	</head>
	<body>
		{% include 'header.html' %}
    <div id="messages-wrap">
      <div id="messages">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <p class="message flash-{{ category }}">{{ msg }}</p>
        {% endfor %}
      </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
	</body>
</html>